<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="login-header auth-header">
  <ion-navbar>
    <ion-title>Sign In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
  <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <show-hide-container>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password" show-hide-input></ion-input>
      </ion-item>
    </show-hide-container>
    <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!login.valid">Log in</button>
  </form>
  <ion-row class="alt-options">
    <ion-col no-padding width-50>
      <button ion-button block clear class="forgot-button" (click)="goToForgotPassword()">Forgot Password?</button>
    </ion-col>
    <ion-col no-padding width-50>
      <button ion-button block clear class="signup-button" (click)="goToSignup()">Sign Up</button>
    </ion-col>
  </ion-row>
  <p class="auth-divider">
    Or
  </p>
  <button ion-button block class="facebook-auth-button" (click)="doFacebookLogin()">Log in with Facebook</button>
  <button ion-button block class="google-auth-button" (click)="doGoogleLogin()">Log in with Google</button>
</ion-content>
