<!--
  Generated template for the LayoutsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Layouts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="layouts-content">
  <ion-list class="layouts-list">
    <button class="list-item" ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-row no-padding>
        <ion-col no-padding class="item-content">
          <h3 class="item-title">{{item.title}}</h3>
          <span class="item-note" *ngIf="item.note">{{item.note}}</span>
        </ion-col>
        <ion-col no-padding width-10 class="item-icon">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
</ion-content>
