<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="forgot-password-header auth-header">
  <ion-navbar>
    <ion-title>Forgot Password?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forgot-password-content auth-content">
  <h2 class="auth-title">Recover your password</h2>
  <p class="recover-message">
    Please enter your email address and we'll send you an email to reset your password.
  </p>
  <form class="forgot-password-form auth-form" [formGroup]="forgot_password" (ngSubmit)="recoverPassword()">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <button ion-button block class="auth-action-button recover-password-button" type="submit" [disabled]="!forgot_password.valid">Reset password</button>
  </form>
</ion-content>
