// Common list styles can be found in "./common.styles/layouts/lists"
$list-big-description-font-size: 12px;

page-list1 {
	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}

	.list-big-content
	{
		background-color: color($colors, background, base);

		.list-big
		{
			@include layout-list-styles($theme-color-2, $white-d);

			ion-list {
				.list-item
				{
					
					.content-row
					{
						@include align-items(center);
					}

					.item-content
					{
						@include align-content(stretch);
					  @include display(flex);
					  @include flex-wrap(wrap);
					  @include align-self(stretch);

						.item-title
						{
							margin-bottom: 8px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.item-description
						{
							@include multi-line-ellipsis($list-big-description-font-size);
						}
					}
				}
			}
		}
	}
}
