<!-- Generated template for the ShowHidePasswordComponent component -->
<ng-content></ng-content>
<a class="type-toggle" (click)="toggleShow()">
	<ion-icon class="show-option" [hidden]="show" name="eye"></ion-icon>
	<ion-icon class="hide-option" [hidden]="!show" name="eye-off"></ion-icon>
</a>
