<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>{{ feed.category.title }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="feed-content">
  <div class="feed-item" *ngFor="let post of feed.posts">
    <ion-card>
      <preload-image [ratio]="{w:3, h:2}" [src]="post.image" title="post.title"></preload-image>
      <ion-card-content>
        <ion-card-title class="item-title">
          {{post.title}}
        </ion-card-title>
        <p class="item-text">
          {{post.description}}
        </p>
      </ion-card-content>
      <ion-row no-padding class="actions-row">
        <ion-col no-padding width-30 text-left>
          <button class="action-button" ion-button clear small icon-left>
            <ion-icon isActive="{{post.liked}}" name='heart'></ion-icon>
            {{post.likes}} Likes
          </button>
        </ion-col>
        <ion-col no-padding width-45 text-center>
          <button class="action-button" ion-button clear small icon-left>
            <ion-icon name='chatbubbles'></ion-icon>
            {{post.comments}} Comments
          </button>
        </ion-col>
        <ion-col no-padding width-25 text-right>
          <button class="action-button" ion-button clear small (click)="sharePost(post)" icon-left>
            <ion-icon name='share-alt'></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
