<!-- Generated template for the CounterInputComponent component -->
<button ion-button icon-only class="counter-icon" (click)="decrease()">
  <ion-icon name="remove"></ion-icon>
</button>
<span class="counter-inner">{{counterValue}}</span>
<button ion-button icon-only class="counter-icon" (click)="increase()">
  <ion-icon name="add"></ion-icon>
</button>
