<!--
  Generated template for the GridPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Grid</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider>Grid Example #1</ion-item-divider>
    <ion-row class="grid-1 grid-example">
      <ion-col width-100 class="grid-item">
        <div class="grid-item-wrapper">
          <div class="grid-item-inner multi-line">
            <h2 class="item-title">1</h2>
            <h2 class="item-title">1</h2>
            <h2 class="item-title">1</h2>
            <h2 class="item-title">1</h2>
          </div>
        </div>
      </ion-col>
      <ion-col width-50 class="grid-item" *ngFor="let item of [2, 3, 4, 5, 6]">
        <div class="grid-item-wrapper">
          <div class="grid-item-inner">
            <h2 class="item-title">{{ item }}</h2>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-item-divider>Grid Example #2</ion-item-divider>
    <ion-row class="grid-2 grid-example">
      <ion-col width-67 class="grid-item">
        <div class="grid-item-wrapper">
          <div class="grid-item-inner multi-line">
            <h2 class="item-title">1</h2>
            <h2 class="item-title">1</h2>
            <h2 class="item-title">1</h2>
          </div>
        </div>
      </ion-col>
      <ion-col width-33 class="grid-item double-item">
        <ion-col width-100 class="grid-item" *ngFor="let item of [2, 3]">
          <div class="grid-item-wrapper">
            <div class="grid-item-inner">
              <h2 class="item-title">{{ item }}</h2>
            </div>
          </div>
        </ion-col>
      </ion-col>
      <ion-col width-33 class="grid-item" *ngFor="let item of [4, 5, 6, 7]">
        <div class="grid-item-wrapper">
          <div class="grid-item-inner">
            <h2 class="item-title">{{ item }}</h2>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-item-divider>Grid Example #3</ion-item-divider>
    <ion-row class="grid-3 grid-example">
      <ion-col width-50 class="grid-item" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
        <div class="grid-item-wrapper">
          <div class="grid-item-inner">
            <h2 class="item-title">{{ item }}</h2>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-item-divider>Grid Example #4</ion-item-divider>
    <ion-row class="grid-3 grid-example">
      <ion-col width-33 class="grid-item" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
        <div class="grid-item-wrapper">
          <div class="grid-item-inner">
            <h2 class="item-title">{{ item }}</h2>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-item-group>
</ion-content>
