ion-app.md {
	page-walkthrough {
		.walkthrough-header
		{
			&::after
			{
				background: none;
			}
		}

		.walkthrough-content
		{
			.button-bar
			{
				background: $white;
  			border-radius: 6px;

				& > .button
				{
					box-shadow: none;
				}
			}
		}
	}
}
