<!--
  Generated template for the WalkthroughPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="walkthrough-header">
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button class="skip-button" (click)="skipIntro()" [hidden]="lastSlide">Skip</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="walkthrough-content">
  <ion-slides #slider (ionSlideDidChange)="onSlideChanged()" pager="true">
    <ion-slide class="slide-1">
      <ion-row class="intro-image-row">
        <ion-col center width-64 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/logo_white.png" alt="app logo" title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">Welcome!</h2>
      <p class="intro-text">
        This is the new <b>Ionic 3</b> Full App template
      </p>
    </ion-slide>
    <ion-slide class="slide-2">
      <ion-row class="intro-image-row">
        <ion-col center width-64 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide-2-img.png" alt="slide 2 img" title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">Wake up!</h2>
      <p class="intro-text">
        We should get started.
      </p>
      <p class="intro-text">
        Here we have a beautiful walkthrough
      </p>
    </ion-slide>
    <ion-slide class="slide-3">
      <ion-row class="intro-image-row">
        <ion-col center width-64 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide-3-img.png" alt="slide 3 img" title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">Get ready!</h2>
      <p class="intro-text">
        Soon your app will look and feel awesome!
      </p>
    </ion-slide>
    <ion-slide class="slide-4">
      <ion-row class="intro-image-row">
        <ion-col center width-64 no-padding>
          <preload-image [ratio]="{w:1, h:1}" src="./assets/images/slide-4-img.png" alt="slide 4 img" title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">Almost done!</h2>
      <p class="intro-text">
        Log in to your account.
      </p>
      <p class="intro-text">
        We are ready to rock!
      </p>
      <div class="button-bar">
        <button ion-button primary (click)="goToLogin()">Log in</button>
        <button ion-button primary (click)="goToSignup()">Sign up</button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
