<!--
  Generated template for the TabsNavigationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Listing" tabIcon="apps"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Profile" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Notifications" tabIcon="notifications"></ion-tab>
</ion-tabs>
