<!--
  Generated template for the SchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="schedule-content">
  <ion-segment class="schedule-segment" [(ngModel)]="segment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="today" (ionSelect)="onSegmentSelected($event)">
      Today
    </ion-segment-button>
    <ion-segment-button value="upcoming" (ionSelect)="onSegmentSelected($event)">
      Upcoming
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'today'">
      <ion-list class="schedule-list">
        <ion-item class="schedule-item" *ngFor="let item of schedule.today">
          <ion-row>
            <ion-col width-20 class="schedule-date">
              <h2 class="schedule-day">{{item.date.day}}</h2>
              <h3 class="schedule-month">{{item.date.month_name}}</h3>
              <h4 class="schedule-time">{{item.date.time}}</h4>
            </ion-col>
            <ion-col width-80 class="schedule-data">
              <div class="data-item">
                <div class="item-content">
                  <h2 class="item-title one-line">{{item.subject}}</h2>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="clock"></ion-icon>
                    <p class="description-text">{{item.date.full}}</p>
                  </div>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="navigate"></ion-icon>
                    <p class="description-text one-line">{{item.location}}</p>
                  </div>
                </div>
                <ion-icon class="item-icon" name="arrow-forward"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'upcoming'">
      <ion-list class="schedule-list">
        <ion-item class="schedule-item" *ngFor="let item of schedule.upcoming">
          <ion-row>
            <ion-col width-20 class="schedule-date">
              <h2 class="schedule-day">{{item.date.day}}</h2>
              <h3 class="schedule-month">{{item.date.month_name}}</h3>
              <h4 class="schedule-time">{{item.date.time}}</h4>
            </ion-col>
            <ion-col width-80 class="schedule-data">
              <div class="data-item">
                <div class="item-content">
                  <h2 class="item-title one-line">{{item.subject}}</h2>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="clock"></ion-icon>
                    <p class="description-text">{{item.date.full}}</p>
                  </div>
                  <div class="item-description">
                    <ion-icon class="description-icon" name="navigate"></ion-icon>
                    <p class="description-text one-line">{{item.location}}</p>
                  </div>
                </div>
                <ion-icon class="item-icon" name="arrow-forward"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
