ion-app.wp {
	page-followers {
		ion-searchbar {
			background: transparent;

			.searchbar-input-container
			{
				border-radius: 1.6rem;
			}

			.searchbar-input
			{
				border-radius: 1.5rem;
			}
		}
	}

}
