ion-app.md {
	page-followers {
		ion-searchbar {
			.searchbar-input
			{
				border-radius: 2.1rem;
			}
		}

		.relation-button
		{
			&.following
			{
				ion-icon {
					font-size: 3.0em !important;
				}
			}
		}
	}

}
