<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="signup-header auth-header">
  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="signup-content auth-content">
  <h2 class="auth-title">Create an account</h2>
  <form class="signup-form auth-form" [formGroup]="signup" (ngSubmit)="doSignup()">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <show-hide-container>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password" show-hide-input></ion-input>
      </ion-item>
    </show-hide-container>
    <show-hide-container>
      <ion-item>
        <ion-input type="password" placeholder="Confirm password" formControlName="confirm_password" show-hide-input></ion-input>
      </ion-item>
    </show-hide-container>
    <button ion-button block class="auth-action-button signup-button" type="submit" [disabled]="!signup.valid">Sign up</button>
  </form>
  <p class="auth-divider">
    Or
  </p>
  <button ion-button block class="facebook-auth-button" (click)="doFacebookSignup()">Sign up with Facebook</button>
  <button ion-button block class="google-auth-button" (click)="doGoogleSignup()">Sign up with Google</button>
  <p class="legal-stuff">
    By creating an account you agree to our <a class="legal-action" (click)="showPrivacyModal()">Privacy policy</a> and <a class="legal-action" (click)="showTermsModal()">Terms of use</a>
  </p>
</ion-content>
